<tr>
    <td>
        <div data-day="">
        </div>
    </td>
    <td>
        <div>
            <input type="time">
        </div>
    </td>
    <td>
        <div>
            <input type="time">
        </div>
    </td>
    <td>
        <div>
            <input type="time">
        </div>
    </td>
    <td>
        <div data-display="">
            <span>0</span>
        </div>
    </td>
    <td>
        <div data-display="">
            <input type="checkbox">
        </div>
    </td>
    <td>
        <div data-display="">
            <input type="checkbox">
        </div>
    </td>
</tr>